.d-none{
    display: none;
}

.password_required{
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    display: none;
}
.password_required ul{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}
.password_required ul li{
    margin-bottom: 8px;
    color: red;
    font-weight: 700;
}
.password_required ul li.active{
    color:#02af02;
}
.password_required ul li span:before{
    content: "❌"; 
}
.password_required ul li.active span:before{
    content:"✔️";
}
 .account_required{
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    display: none;
}
.account_required ul{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}
.account_required ul li{
    margin-bottom: 8px;
    color: red;
    font-weight: 700;
}
.account_required ul li.active{
    color:#02af02;
}
.account_required ul li span:before{
    content: "❌";
}
.account_required ul li.active span:before{
    content:"✔️";
} 

.shadow{
    transform: translateY(20%);
    transition: all .2s linear;
}
.shadow:hover{
    background-color: black;
    transform: translateY(0);
    -moz-box-shadow: 3px 3px 5px 0px #666;
    -webkit-box-shadow: 3px 3px 5px 0px #666;
    box-shadow: 3px 3px 5px 0px #666;
}



