
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

<!-- end s-header -->

<div class="s-content">
	<header class="listing-header">
		<h1 class="h2">Category: Design</h1>
	</header>

	<div class="masonry-wrap">
		<div class="masonry">
			<div class="grid-sizer"></div>
			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/single/standard/318610460_1361993547876784_567438594511283267_n.png"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>

			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/masonry/woodcraft-600.jpg"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>

			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/masonry/woodcraft-600.jpg"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>

			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/masonry/woodcraft-600.jpg"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>

			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/masonry/woodcraft-600.jpg"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>

			<article class="masonry__brick entry format-standard animate-this">
				<div class="entry__thumb">
					<a href="single-standard.html" class="entry__thumb-link">
						<img src="../images/thumbs/masonry/woodcraft-600.jpg"
							 style="height: 400px"
							 alt="Error image" />
					</a>
				</div>

				<div class="entry__text">
					<div class="entry__header">
						<h2 class="entry__title">
							<a href="single-standard.html">
								Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.Just a Standard Format
								Post.Just a Standard Format Post.
							</a>
						</h2>
						<div class="entry__meta">
							<span class="entry__meta-cat">
								<a href="category.html">Design</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
								<a href="category.html">Photography</a>
							</span>
							<span class="entry__meta-date">
								<a href="single-standard.html">Apr 29, 2019</a>
							</span>
						</div>
					</div>
					<div class="entry__excerpt">
						<p>
							Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua
							incididunt mollit id et sit proident dolor nulla sed commodo
							est ad minim elit reprehenderit nisi officia aute incididunt
							velit sint in aliqua Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Id debitis saepe ducimus quo illum sequi
							labore laboriosam obcaecati, perferendis similique. Numquam
							delectus provident labore mollitia eligendi, dolore dolor
							laudantium explicabo! Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Perferendis inventore eaque maiores amet
							in ipsum placeat dolores sunt, veritatis velit nulla atque
							quis voluptatem vel dolore similique. Corporis, provident
							sint?
						</p>
					</div>
				</div>
			</article>
		</div>
		<!-- end masonry -->
	</div>
	<!-- end masonry-wrap -->

	<div class="row">
		<div class="column large-full">
			<nav class="pgn">
				<ul>
					<li><a class="pgn__prev" href="#0">Prev</a></li>
					<li><a class="pgn__num" href="#0">1</a></li>
					<li><span class="pgn__num current">2</span></li>
					<li><a class="pgn__num" href="#0">3</a></li>
					<li><a class="pgn__num" href="#0">4</a></li>
					<li><a class="pgn__num" href="#0">5</a></li>
					<li><span class="pgn__num dots">…</span></li>
					<li><a class="pgn__num" href="#0">8</a></li>
					<li><a class="pgn__next" href="#0">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- end s-content -->
