@model IEnumerable<Category>

@foreach(var item in Model)
{
    <li><a asp-controller="Post" asp-action="Category" asp-route-type="@item.IdCategory">@item.NameCategory</a></li>

}
<li><a asp-controller="Site" asp-action="FindAdvance">Other...</a></li>

