
@{
    ViewData["Title"] = "FindAdvance";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

			<!-- end s-header -->

			<div class="s-content">
				<header class="listing-header">
					<h1 class="h2">Find Advance</h1>
				</header>

				<div class="advance__form">
					<form method="get" action="">
						<div class="advance__form-field">
							<label class="advance__form-title" for="">Topics</label>
							<ul class="topic__list">
								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Sport"
										>Sport</label
									>
									<input
										class="checkbox__topic"
										id="Sport"
										type="checkbox"
										name="topic"
										value="Sport"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Music"
										>Music</label
									>
									<input
										class="checkbox__topic"
										id="Music"
										type="checkbox"
										name="topic"
										value="Music"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Travel"
										>Travel</label
									>
									<input
										class="checkbox__topic"
										id="Travel"
										type="checkbox"
										name="topic"
										value="Travel"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Environment"
										>Environment</label
									>
									<input
										class="checkbox__topic"
										id="Environment"
										type="checkbox"
										name="topic"
										value="Environment"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Dance"
										>Dance</label
									>
									<input
										class="checkbox__topic"
										id="Dance"
										type="checkbox"
										name="topic"
										value="Dance"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Life"
										>Life</label
									>
									<input
										class="checkbox__topic"
										id="Life"
										type="checkbox"
										name="topic"
										value="Life"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Code"
										>Code</label
									>
									<input
										class="checkbox__topic"
										id="Code"
										type="checkbox"
										name="topic"
										value="Code"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Industry"
										>Industry</label
									>
									<input
										class="checkbox__topic"
										id="Industry"
										type="checkbox"
										name="topic"
										value="Industry"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Fashion"
										>Fashion</label
									>
									<input
										class="checkbox__topic"
										id="Fashion"
										type="checkbox"
										name="topic"
										value="Fashion"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Politic"
										>Politic</label
									>
									<input
										class="checkbox__topic"
										id="Politic"
										type="checkbox"
										name="topic"
										value="Politic"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Game"
										>Game</label
									>
									<input
										class="checkbox__topic"
										id="Game"
										type="checkbox"
										name="topic"
										value="Game"
									/>
								</li>

								<li class="topic__list-item">
									<label class="btn btn--stroke label__topic" for="Old"
										>Old</label
									>
									<input
										class="checkbox__topic"
										id="Old"
										type="checkbox"
										name="topic"
										value="Old"
									/>
								</li>
							</ul>
						</div>

						<div class="advance__form-field">
							<label class="advance__form-title" for="rangeDate"
								>Search for date:</label
							>
							<input
								class="full-width"
								type="text"
								id="rangeDate"
								placeholder="Please select Date Range"
								data-input
								name="date"
							/>
						</div>

						<div class="advance__form-field">
							<label class="advance__form-title" for="name-post"
								>Search for name post:</label
							>
							<input
								name="name-post"
								class="full-width"
								type="text"
								placeholder="Enter name post"
							/>
						</div>

						<div class="advance__form-field">
							<label class="advance__form-title" for="author-post"
								>Search for author post</label
							>
							<input
								name="author-post"
								class="full-width"
								type="text"
								placeholder="Enter name author"
							/>
						</div>
						<input
							style="margin-top: 5rem"
							name="submit"
							id="submit"
							class="btn btn--stroke btn-wide btn--large full-width"
							value="Find Advance"
							type="submit"
						/>
					</form>
				</div>
			</div>
			<!-- end s-content -->

			<!-- footer
        ================================================== -->


